<nav class="firstnav navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="https://cdn.freelogodesign.org/files/7ed51bf1b7124b8c8cc7feb712790972/thumb/logo_200x200.png?v=638188915980000000"
          class="me-2"
          height="150"
          width="150"
          alt="RMCC Logo"
          loading="lazy"
        />
        <div class="title">
        <h1 class="Company"><b>RMCC</b><br></h1>
        <h4>Taste & Service That Your Family Will Never Forget</h4>
      </div>
            <!-- <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Taste & Service That Your Family Will Never Forget</small> -->
      </a>
    </div>
  </nav>
  <mat-tab-group>
    <mat-tab label="Pool Side"> 
    
      <div class="cardcover">
      <div class="card">
        <div class="card1"><p>PS-1</p></div>
        <div class="card2"><p>PS-2</p></div>
        <div class="card3"><p>PS-3</p></div>
        <div class="card4"><p>PS-4</p></div>
        <div class="card5"><p>PS-5</p></div>
        <div class="card6"><p>PS-6</p></div>
        <div class="card7"><p>PS-7</p></div>
        <div class="card8"><p>PS-8</p></div>
        <div class="card9"><p>PS-9</p></div>
        <div class="card10"><p>PS-10</p></div>
        <div class="card11"><p>PS-11</p></div>
        <div class="card12"><p>PS-12</p></div>
        <div class="card1"><p>PS-13</p></div>
        <div class="card2"><p>PS-14</p></div>
        <div class="card3"><p>PS-15</p></div>
        <div class="card4"><p>PS-16</p></div>
        <div class="card5"><p>PS-17</p></div>
        <div class="card6"><p>PS-18</p></div>
        <div class="card7"><p>PS-19</p></div>
        <div class="card8"><p>PS-20</p></div>
        <div class="card9"><p>PS-21</p></div>
        <div class="card10"><p>PS-22</p></div>
        <div class="card11"><p>PS-23</p></div>
        <div class="card12"><p>PS-24</p></div>
        </div>
      </div>
  
    </mat-tab>
    <mat-tab label="Lobby Area"> 
  
      <div class="cardcover">
        <div class="card">
          <div class="card1"><p>LA-1</p></div>
          <div class="card2"><p>LA-2</p></div>
          <div class="card3"><p>LA-3</p></div>
          <div class="card4"><p>LA-4</p></div>
          <div class="card5"><p>LA-5</p></div>
          <div class="card6"><p>LA-6</p></div>
          <div class="card7"><p>LA-7</p></div>
          <div class="card8"><p>LA-8</p></div>
          <div class="card9"><p>LA-9</p></div>
          <div class="card10"><p>LA-10</p></div>
          <div class="card11"><p>LA-11</p></div>
          <div class="card12"><p>LA-12</p></div>
          <div class="card1"><p>LA-13</p></div>
          <div class="card2"><p>LA-14</p></div>
          <div class="card3"><p>LA-15</p></div>
          <div class="card4"><p>LA-16</p></div>
          <div class="card5"><p>LA-17</p></div>
          <div class="card6"><p>LA-18</p></div>
          <div class="card7"><p>LA-19</p></div>
          <div class="card8"><p>LA-20</p></div>
          <div class="card9"><p>LA-21</p></div>
          <div class="card10"><p>LA-22</p></div>
          <div class="card11"><p>LA-23</p></div>
          <div class="card12"><p>LA-24</p></div>
          </div>
        </div>
  
    </mat-tab>
    <mat-tab label="Garden Side"> 
      
      <div class="cardcover">
        <div class="card">
          <div class="card1"><p>GS-1</p></div>
          <div class="card2"><p>GS-2</p></div>
          <div class="card3"><p>GS-3</p></div>
          <div class="card4"><p>GS-4</p></div>
          <div class="card5"><p>GS-5</p></div>
          <div class="card6"><p>GS-6</p></div>
          <div class="card7"><p>GS-7</p></div>
          <div class="card8"><p>GS-8</p></div>
          <div class="card9"><p>GS-9</p></div>
          <div class="card10"><p>GS-10</p></div>
          <div class="card11"><p>GS-11</p></div>
          <div class="card12"><p>GS-12</p></div>
          <div class="card1"><p>GS-13</p></div>
          <div class="card2"><p>GS-14</p></div>
          <div class="card3"><p>GS-15</p></div>
          <div class="card4"><p>GS-16</p></div>
          <div class="card5"><p>GS-17</p></div>
          <div class="card6"><p>GS-18</p></div>
          <div class="card7"><p>GS-19</p></div>
          <div class="card8"><p>GS-20</p></div>
          <div class="card9"><p>GS-21</p></div>
          <div class="card10"><p>GS-22</p></div>
          <div class="card11"><p>GS-23</p></div>
          <div class="card12"><p>GS-24</p></div>
          </div>
        </div>
    
    </mat-tab>
  </mat-tab-group>
  